<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <title>&iexcl;Ingl&eacute;s con Lauren&#33;</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="my-styles.css">
    <link rel="icon" href="img/favicon.ico"/>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-89382354-1', 'auto');ga('send', 'pageview');
    </script>
  </head>
  <body>  <!--  data-spy="scroll" data-target="#main-nav" data-offset= 54" -->
    <!--   Navbar   -->
    <div id="jsTarget" class="navbar navbar-inverse navbar-fixed-top">
      <div class= "container-fluid">
        <div class="navbar-header"> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand nav-title" href="http://inglesconlauren.com/"><img id="IcL" src="img/IcL_in_bw.jpg"></a>  
        </div> 
        <nav class= "collapse navbar-collapse" id="main-nav" data-toggle="collapse" data-target=".navbar-collapse.in">
          <ul class="nav navbar-nav navbar-right text-center" role="tablist">
            <li id="inicioTab" class="mainNavTab active"><a href="#home">Inicio</a></li>
            <li id="detallesTab" class="mainNavTab"><a href="#classes">Los Detalles</a></li>
            <li id="filosofiaTab" class="mainNavTab"><a href="#philosophy">Mi Filosof&iacute;a</a></li>
            <li id="contactoTab" class="mainNavTab"><a href="#contact">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </div> 
     <!-- end navbar  -->
    <div id="home"></div> 
    <img id="flyer" class="hidden-xs center-block" src="img/InglesconLaurenFlyer.jpg" alt="Inglés con Lauren, clases particulares de ingles, conversacion y gramatica, inglesconlauren.com">
      
    <!-- begin main body container div --> 
    <div class="container">
      
      <!-- Greeting --> 
      <div id="greeting" class=" well row center-block"> 
        <h1 class="fontBold">Hello!</h1>
        <h4>Soy Lauren y estoy aqu&iacute; para acompa&ntilde;arte en el proceso de estudiar ingl&eacute;s. 
          Al aprender un nuevo idioma, vas a poder conectarte con otra parte tuya, 
          explorando nuevas posibilidades, y oportunidades para vos mismo.  
          Mi misi&oacute;n es encontrar la forma m&aacute;s r&aacute;pida, 
          agradable y efectiva usando nuevos m&eacute;todos para incorporar el idioma 
          y as&iacute; puedas expresarte con autenticidad y fluidez.</h4>
      </div>  
      <!-- end Greeting -->

      <!-- About Columns --> 
      <div id="aboutPanels">
        <div id="classes" class="panel">
          <div class="panel-heading"><h2><span class="fontBold">Las </span>Clases</h2></div>
          <div class="panel-body">
            <h4>
							Las clases se basan en las necesidades y gustos de cada student.  Intento dar clases muy productivas para grandes resultados.
							Se dan en Chacarita y Coghlan.
            </h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">- Clases individuales o grupales</li>
            <li class="list-group-item">- Preparaci&oacute;n para ex&aacute;menes</li>
            <li class="list-group-item">- Ingl&eacute;s para psic&oacute;logos, m&eacute;dicos y doulas</li>
            <li class="list-group-item">- Clases de yoga en ingl&eacute;s</li>
            <li class="list-group-item">- Clases v&iacute;a Skype</li>
            <li class="list-group-item bottom-list-item">- &#161;Clases sociales con descuento!</li>
          </ul>
          <span class="panel-heading"></span>
        </div>
        <div id="lauren" class="panel">
          <div class="panel-heading"><h2><span class="fontBold">Sobre</span>&nbsp;Mi</h2></div>
          <div class="panel-body">
            <h4>
							No soy solamente una profesora de ingl&eacute;s, soy student de otros idiomas, por lo tanto, 
              entiendo el placer y los desaf&iacute;os que existen a lo largo del proceso.
						</h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">- Anglohablante nativo</li>
            <li class="list-group-item">- Recibida de la universidad</li>
            <li class="list-group-item">- Certificada por TEFL</li>
            <li class="list-group-item">
                - <script language="JavaScript" type="text/javascript" >document.write(new Date().getFullYear() - 2009);</script>
                a&ntilde;os de experiencia ense&ntilde;ando ingl&eacute;s
            </li>
            <li class="list-group-item">
                - <script language="JavaScript" type="text/javascript" >document.write(new Date().getFullYear() - 2011);</script>
                a&ntilde;os ense&ntilde;ando a hispanohablantes
            </li>
            <li class="list-group-item">- Avanzada en castellano</li>
          </ul>
          <a href="#laurenModal" role="button" class="btn btn-info center-block" data-toggle="modal">M&aacute;s informaci&oacute;n...</a>
        </div>
      </div> 
      <!--end About Columns -->

      <!-- Yoga Section -->     
      <div id="yoga" class="row container">
        <div class="col-sm-6 col-xs-12">
          <img id="yogapic" class="img-responsive" src="img/yoga2.jpg" alt="una foto de una mujer en una postura de yoga">
        </div>
        <div id="yogaText" class="col-xs-12 col-sm-6 text-center">
          <h1>Yoga</h1>
          <h2>clases en ingl&eacute;s</h2>
          <p>para m&aacute;s informaci&oacute;n</p>
          <a class="twitter-follow-button" lang="es" href="https://twitter.com/InglesconLauren" data-size="large" data-show-count="false">
            @inglesconLauren</a>
        </div>
      </div>

      <!-- Philosophy Section  -->
      <div id="philosophy">
        <div class="panel" id="philoIntro">
          <div class="panel-heading"><h2><span class="fontBold">Mi</span>&nbsp;Filosof&iacute;a</h2></div>
          <div class="panel-body">
            <h4>
                Como profesora de ingl&eacute;s, he refinado mi estilo ense&ntilde;ando a trav&eacute;s de la experimentaci&oacute;n con distintos 
                recursos y teor&iacute;as haciendo foco en los temas que propone el student y as&iacute; las clases son m&aacute;s did&aacute;cticas, 
                efectivas y divertidas. Implemento este estilo porque si hay emoci&oacute;n e inter&eacute;s conectada a ciertos temas, 
                es mas f&aacute;cil comunicarlo y romper barreras con el idioma. La persona se apasiona y lo transmite desde su 
                interior... y eso, como resultado, lo hace m&aacute;s f&aacute;cil a la hora de expresarse en otra lengua.
              <br>
              <br>
              Cuando hay desaf&iacute;os en la clase, tengo estos principios:
						</h4>
          </div> 

          <!-- miniature summaries of philosophy items for small screen sizes -->
          <ul id="miniPrinciples" class="list-group hidden-sm hidden-md hidden-lg">
            <li class="list-group-item">- Tener un plan</li>
            <li class="list-group-item">- Mejorar el plan cuando sea posible</li>
            <li class="list-group-item">- Personalizar el contenido de la clase</li>
            <li class="list-group-item">- Alentar y apoyar al alumno/a</li>
            <li class="list-group-item">- Practicar y practicar y practicar</li>
          </ul>
          <span class="panel-heading hidden-sm hidden-md hidden-lg"></span>
          <!-- end miniature philosophy section -->

          <!-- philosophy content for not-small screen sizes -->
          <div id="angular" class="hidden-xs">
            <section ng-app="myApp" ng-controller="TabController as tab">
              <ul class="nav nav-stacked">
                <li id="adaptTab" ng-class="{active:tab.isSet(1)}"><a ng-click="tab.setTab(1)">Adaptaci&oacute;n</a></li>
                <li id="personalizeTab" ng-class="{active:tab.isSet(2)}"><a ng-click="tab.setTab(2)">Personalizaci&oacute;n</a></li>
                <li id="planTab" ng-class="{active:tab.isSet(3)}"><a ng-click="tab.setTab(3)">Planificaci&oacute;n</a></li>
                <li id="focusTab" ng-class="{active:tab.isSet(4)}"><a ng-click="tab.setTab(4)">Focalizaci&oacute;n</a></li>
                <li id="practiceTab" ng-class="{active:tab.isSet(5)}"><a ng-click="tab.setTab(5)">Pr&aacute;cticas</a></li>
              </ul> <!-- Angular navtabs and corresponding content-->
              <div class="panel">
                <div ng-show="tab.isSet(1)">
                  <h2>Adaptar</h2>
                  <p class="lead">
                      Las cosas no siempre salen seg&uacute;n lo planeado, por lo que es importante adaptarse a las nuevas 
                      circunstancias y reconsiderar las estrategias anteriores. Si una cosa no funciona, intente con otra cosa.
                  </p>
                </div>
                <div ng-show="tab.isSet(2)">
                  <h2>Hay diferentes formas de aprender</h2>
                  <p class="lead">
                      Cada estudiante es un paquete &uacute;nico de personalidad, capacidad, impulsos, intereses, 
                      objetivos y estilos de aprendizaje. Intento que las clases sean divertidas, personales 
                      y atractivas personaliz&aacute;ndolas para cada alumno. &iexcl;Aprender es mucho m&aacute;s f&aacute;cil 
                      cuando es interesante!
                  </p>
                </div>
                <div ng-show="tab.isSet(3)">
                  <h2>Tener un plan espec&iacute;fico.</h2>
                  <p class="lead">
                      Es importante establecer objetivos claros para lo que queremos lograr, establecer un 
                      calendario claro para lograrlo y construir un buen plan de estudio para llevarnos all&iacute;. 
                      Empiezo a formular este plan durante el primer encuentro con un nuevo alumno y sigo 
                      el progreso regularmente. 
                  </p>
                </div>  
                <div ng-show="tab.isSet(4)">
                  <h2>Enfoc&aacute;te!</h2>
                  <p class="lead">
                      Comienzo las clases con una "limpieza" de cualquier obst&aacute;culo mental o preocupaci&oacute;n que 
                      pueda mantener a un alumno completamente presente y listo para aprender. Al abordar 
                      r&aacute;pidamente estos problemas, los descartamos para que podamos aprender y crecer.
                  </p>
                </div>
                <div ng-show="tab.isSet(5)">
                  <h2>Pr&aacute;cticas, pr&aacute;cticas y m&aacute;s pr&aacute;cticas</h2>
                  <p class="lead">
                      &iexcl;Aprender un idioma no solo requiere pr&aacute;ctica, es una pr&aacute;ctica! Mientras m&aacute;s tiempo 
                      pases hablando ingl&eacute;s con hablantes nativos, mejor hablar&aacute;s ingl&eacute;s con hablantes nativos.
                  </p>
                </div>
              </div>
            </section> 
          </div>
           <!-- end philosophy content section for not-small screen sizes -->
        </div>
      </div> 
      <!-- end philosophy section --> 

      <!-- Contact Section -->        
      <div class="narrow-container">
        <!-- Contact Form -->  
        <div id="contact">
          <div id="form" class="form well">
            <form action="https://formspree.io/inglesconlauren@gmail.com" method="POST">
              <h2><span class="fontBold">&iquest;Y </span>Vos&#63;</h2>
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" name="user_name">
              </div>  
              <div class="form-group margin-top-md">
                <label for="mail">Email:</label>
                <input type="email" class="form-control" id="mail" name="_replyto">
              </div>
              <input id="formAddress" type="text" name="_gotcha"/>
							<div id="checkbox_items" class= "form-group margin-top-md">
								<label>Me interesa(n):</label><br>
								<div>
									<input type="checkbox" id="englishCheckbox" name="englishCheck" value="english_interest"/>
										&nbsp;Las clases de ingl&eacute;s
								</div>
								<div>
									<input type="checkbox" id="yogaCheckbox" name="yogaCheck" value="yoga_interest"/>
										&nbsp;Las clases de Yoga
								</div>
								<div>
									<input type="checkbox" id="translationCheckbox" name="translationCheck" value="translation_interest"/>
										&nbsp;Servicios de traducci&oacute;n
								</div>
							</div> 
						<!-- end checkbox items -->
              <div class="form-group margin-top-md">
                <label for="questionscomments">&iquest;Preguntas&#63; &iquest;Comentarios&#63;</label>
                <textarea class="form-control" id="questionscomments" name="questionscomments"></textarea>
              </div>
              <button id="submitBtn" role="button" class="btn btn-success center-block">Enviar</button>
            </form>
          </div>
          <!-- End Contact Form section-->

          <!-- twitter widget -->
          <div id="twitter" class="hidden-xs">  
            <a class="twitter-timeline" href="https://twitter.com/InglesconLauren" data-widget-id="726936157297119232" data-chrome="nofooter" data-height="490">Tweets by @InglesconLauren</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div> 
          <!-- end twitter-->
        </div>
      </div> <!-- end of narrow container around contact section -->
      <!-- end contact section-->

      <footer>
        <a href="https://twitter.com/InglesconLauren" target="_blank"><img class=" img-circle text-center" id="twitter-icon" src="img/twitter_resized.png" alt="twitter-icon"></a>
        <h4>Buenos Aires</h4>
        <p>&copy; 2016&ndash;<script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script>
            Ingl&eacute;s con Lauren
        </p>
      </footer>
      
      <!-- Lauren Info Modal -->
      <div id="laurenModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title text-center"><span class="fontBold">Formaci&oacute;n y&nbsp;</span>Experiencia</h2>
            </div>
            <div class="text-left modal-body" id="laCredentials">
              <h4><b>Como Profe del Ingl&eacute;s</b></h4>
              <ul>
                <li><b>&iexcl;Ingl&eacute;s con Lauren&#33;&nbsp;</b>Clases particulares. Buenos Aires, 2011-presente</li>
                <li><b>Base Institute.&nbsp;</b>Profesora de clases grupales e individuales. Buenos Aires, 2011-presente</li>
                <li><b>Curso Avanzado para Profesores de Ingl&eacute;s&nbsp;</b>Base Institute, Buenos Aires, 2015</li>
                <li><b>World Connections Institute.&nbsp;</b>Profesora de Ingl&eacute;s para empresas; Cinemark, Aysa, BauFest, varios hoteles, y mas, 2011-2015</li>
                <li><b>Curso de Certificaci&oacute;n TEFL/TESOL.&nbsp;</b>TEFL International, 160 horas. Buenos Aires, 2011</li>
                <li><b>Profe de ingl&eacute;s.&nbsp;</b>Tribu Achuar. Wachirpas Community, Las Amazonas Ecuador, verano 2011</li>
                <li><b>Asistente de profesor de ingl&eacute;s.&nbsp;</b>Somali Bantu Community Center. Kentucky, 2010-2011</li>
              </ul>
              <h4><b>Como Profesora de Yoga</b></h4>
              <ul>   
                <li><b>Instructorado de Iyengar Yoga.&nbsp;</b>Ganesha Yoga Espacio, 200 horas. Buenos Aires, marzo 2014-diciembre 2015</li>
                <li><b>Instructorado de Hatha Yoga.&nbsp;</b>Shambhava Yoga Eldorado, 200 horas. Colorado, EEUU, junio-julio 2006</li>
              </ul> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info btn-block center-block" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>   
      <!-- end Lauren info modal -->
      
    </div> <!-- end primary container-->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script type="text/javascript" src="scripts/angular.min.js"></script> 
    <script src="scripts/app.js"></script>
  </body>

</html>


