<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <title>&iexcl;Ingl&eacute;s con Lauren&#33;</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="my-styles.css">
    <link rel="icon" href="img/favicon.ico"/>
  </head>
  
  <body data-spy="scroll" data-target="#main-nav" data-offset="51">
    
    <!-- Lauren Info Modal -->
    <div id="laurenModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title text-center">Training and Experience</h2>
          </div>
          <div class="text-left modal-body" id="laCredentials">
            <h4><b>As an English Teacher</b></h4>
            <ul>
              <li><b>&iexcl;Ingl&eacute;s con Lauren&#33; </b>Private English Lessons. Buenos Aires, 2011-present</li>
              <li><b>Base Institute. </b>Teacher of individual and group classes. Buenos Aires, 2011-present</li>
              <li><b>Advanced Teacher Training. </b>Base Institute, Buenos Aires, 2015</li>
              <li><b>World Connections Institute. </b>English teacher for BsAs businesses including Cinemark, Aysa, BauFest, varios hoteles, y mas, 2011-2015</li>
              <li><b>TEFL/TESOL Certification. </b>TEFL International, 120 hour course. Buenos Aires, 2011</li>
              <li><b>English Teacher.</b> Taught ESL to Achuar Tribe. Wachirpas Community, Ecuador, Summer, 2011</li>
              <li><b>Assistant English Teacher.</b> Somali Bantu Community Center. Kentucky, 2010-2011</li>
              <li><b>Reading Tutor.</b> Tutored elementary school children. Every1Reads Program. Kentucky, 2009</li>
            </ul>
            <h4><b>As a Yoga Instructor</b></h4>
            <ul>   
              <li><b>200-hour Teacher Training Certificate Program in Iyengar Yoga.</b> Ganesha Yoga Espacio. Buenos Aires, March 2014- December 2015 </li>
              <li><b>200-hour Teacher Training in Hatha Yoga.</b> Shambhava Yoga Eldorado.  Colorado, EEUU, June-July 2006</li>
            </ul> 
          </div> <!-- modal body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-block center-block" data-dismiss="modal">Close</button>
          </div>
        </div>  <!-- modal-content-->
      </div>   <!-- modal-dialog-->
    </div>   <!-- /#laurenModal -->
       
<!--   Navbar   -->
    <div id="jsTarget" class="navbar navbar-inverse navbar-fixed-top">
      <div class= "container-fluid">
        <div class="navbar-header"> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand nav-title" href="http://inglesconlauren.com/"><img id="IcL" src="img/IcL_in_bw.jpg"></a>  
          
<!--          &iexcl; Ingl&eacute;s con Lauren &#33;-->
        
        </div> <!-- navbar-header -->
        
        <nav class= "collapse navbar-collapse" id="main-nav" data-toggle="collapse" data-target=".navbar-collapse.in">
          <ul class="nav navbar-nav navbar-right text-center" role="tablist">
            <li class="active"><a href="#home">Home</a></li>
            <li class=""><a href="#classes">About</a></li>
            <li class=""><a href="#philosophy">Philosophy</a></li>
            <li class=""><a href="#contact">Contact</a></li>
          </ul>
        </nav>  <!-- navbar-collapse -->
      </div>  <!-- navbar container -->
    </div>  <!-- end navbar  -->
    
    
    <!-- begin main body container div --> 
    <div class="container" id="home">
      
    <img id="flyer" class="hidden-xs center-block" src="img/InglesconLaurenFlyer.jpg" alt="Inglés con Lauren, clases particulares de ingles, conversacion y gramatica, inglesconlauren.com">


<!-- Greeting --> 
      <div id="greeting" class="row center-block"> 
        <h1>Hello, future English-speaker!</h1>
        <h4>I'm Lauren, and I have come from a far-away land to help you learn English! Lucky you! By learning English, you can create all sorts of great new possibilities and opportunities for yourself, and it is my job to help you dream big and reach your goals.</h4>
      </div>  <!-- end Greeting -->
            
<!-- Transition Message 
      <div class="row text-center">
        <h2> There has never been a better time to learn English!</h2>
      </div> -->
     
<!-- About Columns --> 
      <div id="aboutPanels">
        <div id="classes" class="panel">
          <div class="panel-heading"><h2>About the Classes</h2></div>
          <div class="panel-body">
            <h4>Classes are customized to each student so that the material is interesting and memorable. Classes are held in Villa Crespo.</h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">- Conversational and Business English</li>
            <li class="list-group-item">- Test Preparation</li>
            <li class="list-group-item">- Individual and group classes</li>
            <li class="list-group-item">- Online classes via videochat</li>
            <li class="list-group-item">- Yoga classes in English</li>
            <li class="list-group-item bottom-list-item">- Discounted Community Classes</li>
          </ul>
          <span class="panel-heading"></span>
        </div>
          <!-- end of About the Classes -->
        
      <div id="lauren" class="panel">
          <div class="panel-heading"><h2>About Me</h2></div>
          <div class="panel-body">
            <h4>I am not only a language teacher but also a lifelong language-learner, so I understand the joys and difficulties involved in the process.</h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">- Native speaker of US English</li>
            <li class="list-group-item">- College-educated</li>
            <li class="list-group-item">- TEFL/TESOL-certified</li>
            <li class="list-group-item">- 7 years experience teaching English</li>
            <li class="list-group-item">- 5 years teaching to Spanish-speakers</li>
            <li class="list-group-item">- Fluent in castellano</li>
          </ul>
          <a href="#laurenModal" role="button" class="btn btn-primary center-block" data-toggle="modal">More info...</a>
        </div>
      </div> <!--end classes/La About sections -->

<!-- Yoga Section -->     
<!--
      <div id="yoga" class="well">
        <h1>Yoga</h1>
        <h3>classes in English</h3>
        <h4>for more information</h4>
        <a class="twitter-follow-button" href="https://twitter.com/InglesconLauren" data-size="large" data-show-count="false">Follow @inglesconLauren</a>
      </div>
        
-->
      <div id="yoga" class="row container">
        <div class="col-sm-6 col-xs-12">
          <img id="yogapic" class="" src="img/yoga2.jpg" alt="una foto de una mujer en una postura de yoga">
        </div>
        <div id="yogaText" class="col-xs-12 col-sm-6 text-left">
          <h1>Yoga</h1>
          <h2>clases en ingl&eacute;s</h2>
          <p>para m&aacute;s informaci&oacute;n</p>
          <a class="twitter-follow-button" lang="es" href="https://twitter.com/InglesconLauren" data-size="large" data-show-count="false"> @inglesconLauren</a>
        </div>
      </div>
        
         
<!-- Philosophy Section  -->
      
      <div id="philosophy">
      <div class="panel" id="philoIntro">
        <div class="panel-heading"><h2>My Philosophy</h2></div>
        <div class="panel-body">
          <h4>As an English teacher, I have refined my teaching style by experimenting with different teaching methods and theories.  This trial-and-error has provided me with many valuable insights into teaching, learning, and reaching goals.<br><br> When faced with challenges in the classroom, I rely on these common-sense principles as my guide:</h4>
        </div> 

        <ul id="miniPrinciples" class="list-group hidden-sm hidden-md hidden-lg">
          <li class="list-group-item">- Have a specific plan</li>
          <li class="list-group-item">- Improve the plan when possible</li>
          <li class="list-group-item">- Personalize content for learner ease</li>
          <li class="list-group-item">- Have an inspiring classroom</li>
          <li class="list-group-item">- Be infectious with enthusiasm!</li>
          <li class="list-group-item">- Be encouraging and supportive</li>
          <li class="list-group-item">- Practice, practice, practice!</li>
        </ul>
        <span class="panel-heading hidden-sm hidden-md hidden-lg"></span>


      <div id="angular" class="hidden-xs">
        <section ng-app="myApp" ng-controller="TabController as tab">
          <ul class="nav nav-stacked">
            <li id="planTab" ng-class="{active:tab.isSet(1)}"><a ng-click="tab.setTab(1)">Plan</a></li>
            <li id="adaptTab" ng-class="{active:tab.isSet(2)}"><a ng-click="tab.setTab(2)">Adapt</a></li>
            <li id="personalizeTab" ng-class="{active:tab.isSet(3)}"><a ng-click="tab.setTab(3)">Personalize</a></li>
            <li id="ondaTab" ng-class="{active:tab.isSet(4)}"><a ng-click="tab.setTab(4)">Onda</a></li>
            <li id="focusTab" ng-class="{active:tab.isSet(5)}"><a ng-click="tab.setTab(5)">Focus</a></li>
            <li id="inspireTab" ng-class="{active:tab.isSet(6)}"><a ng-click="tab.setTab(6)">Inspire</a></li>
            <li id="practiceTab" ng-class="{active:tab.isSet(7)}"><a ng-click="tab.setTab(7)">Practice</a></li>
          </ul> <!-- Angular navtabs -->
          <div class="panel">
            <div ng-show="tab.isSet(1)">
              <h2>Have a specific plan.</h2>
              <p class="lead">
              It is important to set clear goals for what we want to achieve, to establish a clear timeframe for achieving it, and to build a good study plan to get us there. I begin formulating this plan during the first encounter with a new student and I track progress regularly, especially if there are specific deadlines to be met.
              </p>
            </div>
            <div ng-show="tab.isSet(2)">
              <h2>Make modifications when necessary.</h2>
              <p class="lead">
              Things don't always go as planned, so it is important to adapt to new circumstances and reconsider previously held strategies.  If one thing doesn't work, try something else.
              </p>
            </div>
            <div ng-show="tab.isSet(3)">
              <h2>Everyone learns differently.</h2>
              <p class="lead">
              Each student is a unique bundle of personality, ability, drives, interests, goals, and learning styles.  I try make classes fun, personal, and engaging by customizing them to each student.  Learning is much easier when it's interesting!
              </p>
            </div>
            <div ng-show="tab.isSet(4)">
              <h2>Onda matters.</h2>
              <p class="lead">
              My office and classroom are filled with inspiring artwork, fresh flowers, and comfortable furnishings, because environment and vibe are important when we are stretching ourselves by trying to learn new things. 
              </p>
            </div>
            <div ng-show="tab.isSet(5)">
              <h2>Get focused!</h2>
              <p class="lead">
              I begin classes with a 'clearing' of any mental obstacles or preoccupations that may keep a student being fully present and ready to learn.  By quickly addressing these issues, we set them aside so we can learn and grow.
              </p>
            </div>  
            <div ng-show="tab.isSet(6)">
              <h2>Enthusiasm is infectious!</h2>
              <p class="lead">
              I love language, and I love to share my love of language! I want my students to develop a deep appreciation for English and to gain the confidence necessary to express themselves in it.
              </p>
            </div>
            <div ng-show="tab.isSet(7)">
              <h2>Practice, practice, and more practice!</h2>
              <p class="lead">
              Learning a language doesn't only require practice, it IS a practice!! The more time you spend speaking English with native speakers, the better you will be at speaking English with native speakers!!
              </p>
            </div>
          </div>      <!--/Angular panel -->
        </section>  <!--/ entire Angular component -->
      </div>    <!--/Angular div -->
      </div> <!-- panel div -->
    </div> <!--/the entire philosophy section -->   
<!-- Contact Section -->        
      <div class="narrow-container">
<!-- Contact Form -->  
        <div id="contact">
          
          <div id="form" class="form well">
            <form action="web address to process info goes here" method="">
              <h2>&iquest;And You&#63;</h2>
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" placeholder="tu nombre" name="user_name">
              </div>  
              <div class="form-group">
                <label for="mail">Email:</label>
                <input type="email" class="form-control" id="mail" placeholder="tu email" name="user_email">
              </div>  
              <div class="form-group">
                <label for="mailconfirm">Confirmar email:</label>
                <input type="email" class="form-control" id="mailconfirm" placeholder="tu email de nuevo" name="user_email_conf">
              </div>
              <div class="form-group">
                <div id="checkbox_items">
                  <label>I am interested in:</label><br>
                  <div>
                    <input type="checkbox" id="englishCheckbox" value="english_interest"/><label for="englishCheckbox">English Classes</label>
                  </div>
                  <div>
                    <input type="checkbox" id="yogaCheckbox" value="yoga_interest"/><label for="yogaCheckbox">Yoga Classes</label>
                  </div>
                  <div>
                    <input type="checkbox" id="otherCheckbox" value="english_interest"/><label for="otherCheckbox">Translation Services</label>
                  </div>
                </div> <!-- checkbox items div -->
              </div>
              <div class="form-group">
                <label for="questionscomments">&iquest;Preguntas&#63; &iquest;Comentarios&#63;</label>
                <textarea class="form-control" id="questionscomments" name="questionscomments" placeholder="escribe aqui"></textarea>
              </div>
              <a id="submitBtn" href="#formModal" role="button" class="btn btn-success center-block" data-toggle="modal">Submit</a>
            </form>
          </div>   <!--/ContactForm div--> 
<!-- twitter widget ---->
          <div id="twitter" class="hidden-xs">  
            <a class="twitter-timeline" href="https://twitter.com/InglesconLauren" data-widget-id="726936157297119232" data-chrome="nofooter" data-height="490">Tweets by @InglesconLauren</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div> 
          <!-- end twitter div-->
        </div> <!-- Entire Contact section -->
      </div> <!-- end of narrow container that wraps contact section-->
    </div> <!-- end of primary body container-->
    
    <footer>
      <a href="https://twitter.com/InglesconLauren" target="_blank"><img class="text-center" id="twitter-icon" src="img/twitter_resized.png" alt="twitter-icon"></a>
      <h4>Villa Crespo, Buenos Aires</h4>
      <p>&copy; 2016 Ingl&eacute;s con Lauren</p>
    </footer>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script type="text/javascript" src="scripts/angular.min.js"></script> 
    <script src="scripts/app.js"></script> 
    <script src="scripts/translate.js"></script>
  </body>
   
</html>


