/*------------------------
FONTS
-------------------------*/


@font-face {
  font-family: 'ICL_light';
  src: url('fonts/ICL_light.eot'); 
  src: url('fonts/ICL_light.otf') format('opentype');
}

@font-face {
  font-family: 'ICL_bold';
  src: url('fonts/ICL_bold.eot'); 
  src: url('fonts/ICL_bold.otf') format('opentype');
}


.fontLight {
  font-family: 'ICL_light';
}

.fontBold {
  font-family: 'ICL_bold';
}

/*------------------------
IMAGES
-------------------------*/


#flyer {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 0px 30px 1px rgba(255,255,255,1);
}

#IcL {
  max-height: 100%; 
}
  


/*------------------------
Nav Menu
-------------------------*/



#main-nav li {
  font-family: 'ICL_light';
  font-size: 16px;
}




/*------------------------
General Stylings
-------------------------*/



body {
  /*the next 2 push the body down below the fixed header*/
  position:relative; /*necessary for scrollspy*/
  margin-top: 51px; /*51px will make flyer flush with navbar*/
  /*any change in padding-top requires mods in scripts.js, too*/
  background: url(img/blue-blur-shine.jpg);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  color: #222;
  font-family: 'serif';
}

h1, 
h2 {
  font-family: 'ICL_light';
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 0px;
}

h3 {
  font-size: 18px
}
  
  
h4{
  font-size: 16px;
}

.well {
  border: none;
  border-radius: 10px;
}



.container,
.container-fluid {
  max-width: 1000px;
}

/*------------------------
CUSTOM CLASSES
-------------------------*/


.narrow-container {
  max-width: 720px !important;
  margin-right: auto;
  margin-left: auto;
}


/*------------------------
Modal styles
-------------------------*/


.modal-header,
.modal-footer{
  background-image: url(img/quote_background_nowhite_noborder_faded.jpg);
  background-size:cover;
}

.modal-header,
.modal-body {
    padding: 4px;
}

.modal-footer {
  padding: 5px;
  margin-top: 0px;
}

#laCredentials ul {
  padding-left: 13px;
}

#laCredentials h4 {
  color:blue;
}


/* these 2 commands */
.modal {   /*prevent the modal*/
  overflow-y: auto; /*from causing everything*/
}
.modal-open {   /*to shift left*/
  overflow: auto;/*when the modal opens and*/
}/*shift right when it closes.*/
/*it does so by keeping a second scroll bar from popping up, which caused the shift originally*/



/*------------------------
Greeting section styles
-------------------------*/


#greeting h1 {
  font-size: 1.8em;
}

#greeting h4 {
  margin-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
	font-family: "ICL_light";
}

#greeting {
  padding-top: 0px;
  padding-right: 10px;
  background-color: rgba(2, 51, 130, 0.1);
}


/*------------------------
ABOUT section styles
-------------------------*/

#aboutPanels {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*  BORDERS ASSIGNED INDIVIDUALLY
#classes {
  border: 3px solid #00ADEF;
}
#lauren {
  border: 3px solid darkblue;
 }

#philoIntro {
  border: 3px solid lightcoral;
 }

#form { 
  border: 3px solid yellowgreen;}
*/


#classes,
#lauren,
#philoIntro {
  border: 3px solid #222;
  box-shadow: 0px 0px 30px 1px rgba(255,255,255,1);
  margin-top:30px;
  border-radius: 10px;
  padding: 0px;
  background-image: url(img/quote_background_nowhite_noborder_faded.jpg);
  background-size:cover; 
  max-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#classes h4,
#lauren h4,
#philoIntro h4 {
  margin: 0px;
  font-size: 14px
}

#classes h2,
#lauren h2,
#philoIntro h2{
  margin-top: 10px;
  margin-bottom: 5px;
}

#classes .panel-body,
#lauren .panel-body,
#philoIntro .panel-body{
  padding-top: 10px;
  padding-bottom: 10px;
  /*this is where I'd change the color of the blurb 
  that goes with the panel and list items:  
  color: darkblue; */  
  background-color: lightgoldenrodyellow;
}

.panel-heading {
  padding-top: 0px;
  padding-bottom: 0px;
}

#classes li,
#lauren li,
#philoIntro li {
  font-size: 12.3px;
  padding-bottom: 3px;
  padding-top: 5px;
}  

/*the following makes the columns w/o a button the same size as
the one with the button (About Lauren)*/
#classes,
#philoIntro {
  margin-bottom: 0px;
  padding-bottom: 21px;
}

#lauren a{
 margin-top: 4px;
 margin-bottom: 4px;
}

/*
.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.btn-hover-alt {
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}
*/



/*------------------------
YOGA section
-------------------------*/



#yoga {
  margin-top: 50px;
  margin-bottom: 50px;
}

#yogapic {
  height: 300px;
  border-radius: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#yogaText {
  padding-left: 10px;
  margin-top: -10px;
  display:block;
  justify-content: center;
/*  text-align:center;*/
}

#yoga h1 {
  font-family: ICL_bold;
  font-size: 4em;
  margin-bottom: 0px;
}

#yoga h2 {
  margin-top: 0px;
  margin-bottom:0px;
  font-size: 26px; 
}

#yoga p {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 25px;
  margin-left: 0px;
  font-size: 16px;
}


/*------------------------
Philosophy/Angular section
-------------------------*/

section {
  display:flex;
  justify-content: center;
}

#angular a{
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  
}

#angular ul {
  text-align: center;
  cursor: pointer;
  padding-right: 0px;
  width: 110px;
}

#angular li {
  border: .25px solid #00ADEF;
  margin-top: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 14px !important;
}

#angular .panel {
  width: 80%;
  max-width: 700px;
  background-color: #00ADEF;
  margin-bottom: 0px;
  border-radius: 0px 10px 10px 0px;
  color: lightgray;
  padding-left: 7px;
  padding-right: 7px;
}

#angular .panel h2 {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}


/*ANGULAR TAB FORMATTING*/
#angular li a:hover {
  background-color:rgba(255, 255, 255, .7);
}

#angular li.active>a, 
#angular li.active>a:hover,
#angular li.active>a:focus {
  color: #fff;
  background-color: #00ADEF;
}

#planTab {
  background-color: lightgreen;
}
#adaptTab {
  background-color: peachpuff;
}
#personalizeTab {
  background-color: aquamarine;
}
#ondaTab {
  background-color: lightgoldenrodyellow;
}
#focusTab {
  background-color: lightsalmon;
}
#inspireTab {
  background-color: lightpink;
}
#practiceTab {
  background-color: lightblue !important;
}



.btn {
  width: 50%;
  max-width: 150px;
  border-radius: 0px;
  text-align: center;
}

.btn-primary {
  background-color: #00ADEF;
}

#submitBtn {
  margin-top:;
  margin-bottom:;
}





/*==========================================
Contact Sections
==========================================*/

#contact {
  margin-top: 30px;
  max-height: 490px;
  margin-bottom: 20px;
}

#formAddress{
  display: none;
}

#form {
  background-image: url(img/quote_background_nowhite_noborder_faded.jpg);
  background-position:top left;
  background-size:cover;
  margin-bottom: 0;
  border: 3px solid #222;
  box-shadow: 0px 0px 30px 1px rgba(255,255,255,1);
  }

form h2 {
  margin-top: 0px;
  padding-top: 0px; 
}

form .form-group {
  margin-bottom: 5px;
}

#twitter {
/*-- background-color: #55acee;   twitter blue --*/
/*  max-height is determined by setting the data-height attribute of the anchor
  tag for the twitter widget in the html document itself e.g. data-height="490"*/
  border-radius: 10px !important;
  border: 3px solid #55acee;
  box-shadow: 0px 0px 30px 1px rgba(255,255,255,1);
}

footer {
  text-align: center;
}

footer h4 {
  margin-top: 5px;
  margin-bottom: 3px;
}

#twitter-icon {
  max-height:45px;
}

#twitter-icon:hover {
  background-color: lightgray;
	border-radius: 100px;
  border: none;
}




/*===============================================================

| MEDIA QUERIES | MEDIA QUERIES | MEDIA QUERIES | MEDIA QUERIES |

=================================================================*/


/*(SUPER-SUPER-XS)---------------------------------------------------------------------------------------------------------------*/ 
@media (min-width: 325px) {
  #jsTarget {
/*    background-color: lightgray !important;*/
  }
  
  #classes li,
  #lauren li,
  #philoIntro li {
    font-size: 16px;
}
  
  #philoIntro,
  #contact {
    max-width: 415px;
    margin-right: auto;
    margin-left: auto;
  }
  
}
  
 
/*(SUPER-XS)----------------------------------------------------------------------------------------------------------------------*/ 
@media (min-width: 450px) {
  #jsTarget {
/*    background-color: #222 !important;*/
  }
  
  #IcL {
    height: 30px;
  }
  .navbar-brand {
    padding: 10px;
  }
  
 #greeting h1 {
    margin-top: 10px;
  }
  
  #greeting h4 {
    font-size: 20px;
  }
  
} 


/*(Extra-small -xs breakpoint in Bootstrap )---------------------------------------------------------------------------------------------------*/
@media (min-width: 535px) {
  #jsTarget {
/*    background-color: blue !important;*/
  }
  
  #greeting {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  #greeting h1 {
    font-size: 3em;
    padding-top:20px;
  }
  
  #greeting h4 {
    font-size: 22px;
  }
    
  #aboutPanels {
    display:inline-flex;
  }

  #classes,
  #lauren {
    max-width: 48%;
    justify-content:space-between;
  }
  
  #classes li,
  #lauren li {
  font-size: 13px;
  }
  
  #classes {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  
/*
  #yoga {
    margin-bottom: 50px
  }
*/
}
  
/*(SMALL -sm breakpoint in Bootstrap, min-width: 768px)-------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  #jsTarget {
/*    background-color: #222 !important;*/
  }
  
  #IcL {
    height: 30px;
  }

  .navbar-brand {
    padding: 10px;
  }
  
  .modal-header,
  .modal-body {
    padding: 5px;
  }

  #laCredentials ul {
  padding-left: 25px;
  }
  
  #greeting h4 {
    font-size: 28px;
  }
     
  #classes .panel,
  #lauren .panel {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  #classes li,
  #lauren li,
  #philoIntro li {
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 8px;
  }
  
  #classes h4,
  #lauren h4,
  #philoIntro h4 {
    margin: 0px;
    font-size: 18px;
  }

  #classes h2,
  #lauren h2,
  #philoIntro h2{
    font-size: 32px;
    margin-top: 12px;
  }
  
  #yoga{
    margin-bottom:70px; /*margin-top is 50, but the div above it has a margin-bottom of 20px;*/
  }

  #yogapic {
    margin-right: 10px;
    float:right;
  }

  #yogaText{
    text-align: left;
  }    
  
  #yoga h1 {
    font-size: 6em;
  }

  #yoga h2 {
    margin-top: 3px;
    font-size: 26px; 
  }

  #yoga p {
    margin-top: 50px;
    margin-left: 30px;
    font-size: 16px;
  }
  
  #philoIntro {
    max-width: 100%;
  }
  
  section {
    margin-top: 20px;
    margin-right:auto;
    margin-left: auto;
  }
  
  section h2,
  section p {
    padding-left: 8px;
    padding-right: 2px;
  }
  
  #contact {
  margin-top: 50px;
  display:inline-flex;
  max-width: 100%;
  justify-content: space-around;
  }
  
  #form {
    width: 45%;
  }
  
  #twitter {
    width: 45%;
  }
  
}

/*(MEDIUM -md breakpoint in Bootstrap, min-width: 992px)---------------
 */
@media (min-width: 992px) { 
  #jsTarget {
/*    background-color: saddlebrown !important;*/
  }
  
  #greeting {
    margin-top: 80px;
    margin-bottom: 50px; /* the ABOUT panels below this section have top-margin of 30px*/
  }
 
  section h2,
  section p {
    padding-left: 15px;
    padding-right: 15px;
  }

  section p {
    padding-top: 5px
  }
}
 


/*(LARGE -lg breakpoint in Bootstrap, min-width: 1200px) ----------------------------------------------------------------------*/

@media (min-width: 1200px) {
  #jsTarget {
/*    background-color: #222 !important;*/
  }

}

